<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @person.dateofbirth %>
</p>

<%= link_to 'Back', people_path %> | <%= link_to 'Edit', edit_person_path(@person) %>